<!DOCTYPE html>
<html lang="en">
    <head id="head-iframe">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
    {% for item in style %}
        <link rel="stylesheet" href="{{ BASE_URL}}{{ item }}" type="text/css" media="screen" />
    {% endfor %}
    {% for item in script %}
        <script type="text/javascript" src="{{ BASE_URL}}{{ item }}"></script>
    {% endfor %}
    </head>

    <body data-spy="scroll" id="body-iframe"{% if body_class %} class="{{ body_class }}"{% endif %}>
    {% autoescape false %}
        {{ content }}
    {% endautoescape %}
    </body>
</html>