{% macro index(digest) %}
    <li>
        <h4>{{ digest.date | date('jS F Y') }}</h4>
        <span><a class="text" href="{{ BASE_URL }}/issues/{{ digest.date }}/">{{ digest.synopsis | striptags | truncate(106, true) }}</a></span>
    </li>
{% endmacro %}

{% macro issues(digest, number, date) %}
    <li>
        <h4>{% trans %}Issue {{ number }}: {{ date }}{% endtrans %}</h4>
        <span><a class="text filled" href="{{ BASE_URL }}/issues/{{ digest.date }}/">{{ digest.synopsis | striptags }}</a></span>
    </li>
{% endmacro %}

{% macro archive(digest, number, date) %}
    <li>
        <h4>{{ date }}</h4>
        <span><a class="text filled" href="{{ BASE_URL }}/archive/{{ digest.date }}/">{{ digest.synopsis | striptags }}</a></span>
    </li>
{% endmacro %}