<div id="sidebar" class="span2 pull-right">
    <ul id="navSidebarNeverland" class="nav nav-list well Neverland">
        <li>
            <a href="{{ BASE_URL }}/" title="{% trans 'Front Page' %}">{% trans 'Front Page' %}</a>
        </li>

        <li class="spacer">
            <a href="{{ BASE_URL }}/issues/" title="{% trans 'Issues' %}">{% trans 'Issues' %}</a>
        </li>
        <li>
            <ul>
                <li>
                    <a href="{{ BASE_URL }}/issues/latest/" title="{% trans 'Latest Issue' %}">{% trans 'Latest Issue' %}</a>
                </li>
            </ul>
        </li>

        <li class="spacer">
            <a href="{{ BASE_URL }}/archive/" title="{% trans 'Archive' %}">{% trans 'Archive' %}</a>
        </li>

        <li class="spacer">
            <a href="{{ BASE_URL }}/six-months-ago/" title="{% trans 'Six Months Ago' %}">{% trans 'Six Months Ago' %}</a>
        </li>
        <li>
            <a href="{{ BASE_URL }}/one-year-ago/" title="{% trans 'One Year Ago' %}">{% trans 'One Year Ago' %}</a>
        </li>
        <li>
            <a href="{{ BASE_URL }}/issues/random/" title="{% trans 'Random Digest' %}">{% trans 'Random Digest' %}</a>
        </li>

        <li class="spacer">
            <a href="{{ BASE_URL }}/contribute/" title="{% trans 'Contribute' %}">{% trans 'Contribute' %}</a>
        </li>

        <li class="spacer">
            <a href="{{ BASE_URL }}/data/" title="{% trans 'Data' %}">{% trans 'Data' %}</a>
        </li>
    </ul>

    <div id="sidebar-bottom">
        &nbsp;
    </div>
</div>