div#frame {
  min-height:720px;
}


div.column {
  float:left;
  width:43%;
  margin:12px 7% 0 0;
}


div.column h3 {
  position:relative; 
}

div.column h3 span {
  position:absolute;
  right:0;
  top:-3px;
}

div.column p {
  margin-bottom:32px;
}




div#donate-box {
  width:100%;
  text-align:center;
  margin:-12px 0 38px 0;
}

div#donate-box a {
  display:block;
  margin-top:10px;
  border-bottom:0;
}
div#donate-box a img {
  border:0;
}