div#frame {
    margin-top: 136px;
}

div#issue-url {
    text-align: center;
    margin-bottom: 22px;
}

div#title-box {
    position: relative;
    width: 440px;
    padding: 10px;
    margin: 0 auto;
}

div#contributors-box {
    position: absolute;
    top: 0;
    right: 14px;
    width: 280px;
    opacity: 0.6;
}
div#contributors-box:hover {
    opacity: 1;
}
body.neverland div#contributors-box {
    position: relative;
    opacity: 1;
    top: auto;
    right: auto;
    width: auto;
}

body.default div#contributors-box h3 {
    margin: 0 0 4px 0;
    text-align: right;
    font-size: 20px;
}
body.neverland div#contributors-box h3 {
    line-height: 1.3em;
    margin-bottom: 4px;
}
body.default div#contributors-box div#contributors-box-inner {
    text-align: right;
    max-height: 92px;
    overflow-y: auto;
    white-space: nowrap;
}
body.neverland div#contributors-box #assist {
    position: absolute;
    top: 6px;
    right: 12px;
}

body.default div.container {
    margin-bottom: 52px;
}
body.default div.container h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
}

div#intro {
    margin-top: 52px;
    max-width: 920px;
}

a.left,
a.right {
    position: absolute;
    height: 32px;
    width: 30px;
    background: url('../../img/sprite.png') no-repeat;
    text-decoration: none;
}

div.title-box-issue a.left,
div.title-box-issue a.right {
    top: 51px;
}
div.title-box-archive a.left,
div.title-box-archive a.right {
    top: 28px;
}

a.left {
    left: 10px;
    background-position: -0px -0px;
}
a.left:hover {
    background-position: -0px -32px;
}

a.right {
    right: 10px;
    background-position: -30px -0px;
}
a.right:hover {
    background-position: -30px -32px;
}

div#title-box div.mid {
    position: relative;
    width: 340px;
    margin: 0 auto;
    text-align: right;
}

div#title-box div.mid h2 {
    margin: 0;
    text-align: left;
    font-size: 32px;
}
div#title-box div.mid h3 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

div#title-box div.mid a {
    font-size: 22px;
    font-weight: normal;
    border-bottom: none;
}
div#title-box div.mid a:hover {
    border-bottom: 2px solid #000;
}

div.synopsis {
    margin-bottom: 28px;
    width: 93%;
}

div.body-row {
    margin-bottom: 28px;
}

div.body-title {
    margin-bottom: 8px;
    width: 93%;
}
div.body-text {
    padding: 8px;
    font-style: italic;
    margin-bottom: 32px;
    width: 90.5%;
}

div.body-text p,
div.body-title p {
    margin-bottom: 22px;
}
div.body-text p:last-child,
div.body-title p:last-child {
    margin-bottom: 0;
}

div.body-text div.img {
    text-align: center;
    width: 100%;
    margin: 22px 0;
}
div.body-text div.img a {
    margin-bottom: 0;
    border-bottom: 0;
}
div.body-text div.img span {
    display: block;
    color: #666;
}

div.body-text div.video {
    margin: 30px 0 10px;
    text-align: center;
}
div.body-text div.video div.v {
    height: 350px;
}
div.body-text div.video div.link {
    margin-top: 12px;
}


/*contents table*/
body.default table#contents-table {
    width: 84%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

body.neverland table#contents-table thead tr th {
    text-align: center;
    font-weight: bold;
}

body.default table#contents-table tbody tr:nth-child(even) {
    background: #E1EAF3;
}
body.default table#contents-table tbody tr:nth-child(odd) {
    background: #fff;
}

body.default table#contents-table tbody td {
    width: 15%;
    text-align: center;
}
body.default table#contents-table tbody td:first-child {
    width: 25%;
    border-right: 2px dotted #333;
    padding: 2px 5px;
    text-align: left;
}

body.neverland table#contents-table tbody td {
    width: 15%;
    text-align: center;
    height: 24px;
    padding: 6px;
}
body.neverland table#contents-table tbody td:first-child {
    width: 25%;
    text-align: right;
}
body.neverland table#contents-table tbody td:first-child h3 {
    margin-top: 2px;
    font-size: 1.3em;
    line-height: 100%;
}

body.default table#contents-table tbody td a {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url('../../img/sprite.png') no-repeat;
    cursor: pointer;
    text-indent: -9000px;
}

body.default table#contents-table tbody td a.icon-bug-fixes {
    background-position: -60px -0px;
}
body.default table#contents-table tbody td a.icon-bug-fixes:hover {
    background-position: -60px -20px;
}

body.default table#contents-table tbody td a.icon-features {
    background-position: -80px -0px;
}
body.default table#contents-table tbody td a.icon-features:hover {
    background-position: -80px -20px;
}

body.default table#contents-table tbody td a.icon-optimize {
    background-position: -100px -0px;
}
body.default table#contents-table tbody td a.icon-optimize:hover {
    background-position: -100px -20px;
}

body.default table#contents-table tbody td a.icon-security {
    background-position: -120px -0px;
}
body.default table#contents-table tbody td a.icon-security:hover {
    background-position: -120px -20px;
}

body.default table#contents-table tbody td a.icon-other {
    background-position: -140px -0px;
}
body.default table#contents-table tbody td a.icon-other:hover {
    background-position: -140px -20px;
}


body.neverland table#contents-table tbody td a.n {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background: url('../../img/neverland/contents_sprite.png') no-repeat;
    cursor: pointer;
    text-indent: -9000px;
}

body.neverland table#contents-table tbody td a.n.icon-bug-fixes {
    background-position: -0px -0px;
}

body.neverland table#contents-table tbody td a.n.icon-features {
    background-position: -24px -0px;
}

body.neverland table#contents-table tbody td a.n.icon-optimize {
    background-position: -48px -0px;
}

body.neverland table#contents-table tbody td a.n.icon-security {
    background-position: -96px -0px;
}

body.neverland table#contents-table tbody td a.n.icon-other {
    background-position: -72px -0px;
}



body.default p#num-selections {
    margin-top: 16px;
    text-align: center;
    color: #8CB1D8;
}

div#stats div.pad,
div#stats table.pad {
    margin-bottom: 22px;
}

#stats-general td.label {
    padding-right: 22px;
    font-weight: bold;
}

div#container-summary {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

#stats-module,
#stats-developer {
    display: inline-block;
    vertical-align: top;
}

#stats-i18n {
    margin: 0 auto 32px auto;
}

#stats-bugkillers {
    margin: 0 auto 32px auto;
}

div#container-buzz {
    position: relative;
    text-align: center;
}

#stats-buzz-program,
#stats-buzz-person {
    display: inline-block;
    vertical-align: top;
}

div#container-demographics {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

div#container-demographics > div {
    display: inline-block;
    margin: 20px 2%;
}

body.neverland div#container-demographics div.legend tr td {
    line-height: 2em;
}
div#container-demographics > div td.legendColorBox > div {
    border: 0 !important;
}
div#container-demographics > div td.legendColorBox > div > div {
    border-width: 12px 11px !important;
}
body.neverland div#container-demographics > div td.legendColorBox > div > div {
    width: 1px !important;
}

div#container-demographics div#stats-sex-container {

}
div#container-demographics div#stats-motivation-container {

}
div#container-demographics div#stats-age-container {

}


div.commit {
    margin-bottom: 32px;
}
body.default div.commit {
    max-width: 920px;
}

div.commit span.intro {
    display: block;
    margin-bottom: 9px;
}

body.default div.commit div.details {
    border: 2px solid #E1EAF3;
}
body.neverland div.commit div.details {
    border: 1px solid #BCE8F1;
    border-radius: 4px;
}
body.default div.commit div.details p.msg {
    padding: 10px;
    font-style: italic;
    background-color: #E1EAF3;
}
body.neverland div.commit div.details p.msg {
    padding: 8px 35px 8px 10px;
    margin-bottom: 0;
    font-style: italic;
    background-color: #D9EDF7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.commit div.details div.info {
    border-top: 2px solid #E1EAF3;
    padding: 10px;
    min-height: 22px;
}
body.neverland div.commit div.details div.info {
    border-top: 1px solid #BCE8F1;
    padding: 8px 10px 6px 10px;
    font-size: 0.9em;
}

div.commit div.details div.info i {
    font-style: normal;
}

body.default div.commit div.details div.info div.b-p {
    margin-bottom: 10px;
}
body.neverland div.commit div.details div.info div.b-p {
    margin-bottom: 4px;
}

body.default div.commit div.details div.info div.b div.bug {
    margin-bottom: 2px;
}
div.commit div.details div.info div.b div.bug div {
    float: right;
}
body.default div.commit div.details div.info div.b div.bug div div {
    float: left;
    margin: -1px 6px 0 0;
    width: 20px;
    height: 20px;
    background: url('../../img/sprite.png') no-repeat;
    background-position: -100px -40px;
}
body.neverland div.commit div.details div.info div.b div.bug div div {
    float: left;
    margin: 1px 5px 0 0;
    width: 20px;
    height: 20px;
    background: url('../../img/neverland/time.png') no-repeat;
}
div.commit div.details div.info div.b div.bug div span {
    float: right;
    font-style: italic;
    color: #999;
}
body.neverland div.commit div.details div.info div.b div.bug div span {
    margin-right: 2px;
}

div.commit div.details div.info a.r {
    display: block;
    text-align: right;
}

p.message {
    padding-right: 176px;
    text-align: center;
}

div.diffs-container {
    width: 91.5%;
    border: 2px solid #E1EAF3;
}

div.diffs-container div.subheader {
    padding: 4px 6px;
    font-weight: bold;
    background-color: #E1EAF3;
}
div.diffs-container div.subheader span {
    float: right;
    font-weight: normal;
}
div.diffs-container div#total {
    text-align: right;
    font-weight: normal;
    font-style: italic;
}

div.diffs {
    padding: 6px;
}
div.diffs div.basepath {
    padding: 2px 4px;
}
div.diffs div.path {
    padding: 2px 4px;
}

div.diffs div.path div {
    float: left;
    margin: 0 4px 0 4px;
    width: 20px;
    height: 20px;
    background: url('../../img/sprite.png') no-repeat;
    background-position: -0px -64px;
}
div.diffs div.path:last-child div {
    background-position: -20px -64px;
}

div#worldmap {
    position: relative;
    margin: 20px auto 40px auto;
    max-width: 1000px;
    height: 500px;
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

/* pie charts */
.legend > div {
    background-color: inherit !important;
}
.legend > table .legendLabel {
    font-size: 14px !important;
    text-align: left;
}
body.neverland .legend > table .legendLabel {
    padding-left: 5px;
    font-weight: normal;
    color: #000000;
}

table.chart-bar {
    word-break: keep-all;
    margin: 0 3% 20px 0;
}

table.chart-bar thead td {
    font-weight: bold;
    text-align: center;
}
body.neverland table.chart-bar thead td {
    font-weight: bold;
    padding-bottom: 6px;
}

table.chart-bar tbody td.label {
    padding-right: 6px;
    text-align: right;
}
body.neverland table.chart-bar tbody td.label {
    padding: 7px;
    font-weight: normal;
}
table.chart-bar tbody td.labelTwin {
    padding: 0 6px;
    text-align: center;
}
body.neverland table.chart-bar tbody td.labelTwin {
    font-weight: normal;
}

table.chart-bar tbody td.value {
    min-width: 150px;
}
table.chart-bar tbody td.valueTwinStart,
table.chart-bar tbody td.valueTwinEnd {
    min-width: 150px;
}

table.chart-bar tbody td.value > div,
table.chart-bar tbody td.valueTwinStart > div,
table.chart-bar tbody td.valueTwinEnd > div {
    position: relative;
}

table.chart-bar tbody td.value span,
table.chart-bar tbody td.valueTwinStart span,
table.chart-bar tbody td.valueTwinEnd span {
    display: inline-block;
    position: absolute;
    margin-top: 1px;

    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}
table.chart-bar tbody td.valueTwinStart span {
    right: 3px;
}
table.chart-bar tbody td.value span,
table.chart-bar tbody td.valueTwinEnd span {
    left: 3px;
}

table.chart-bar tbody td.value div > div,
table.chart-bar tbody td.valueTwinStart div > div,
table.chart-bar tbody td.valueTwinEnd div > div {
    background-color: #E1EAF3;
    padding: 1px 0;
}
table.chart-bar tbody td.valueTwinStart div > div {
    float: right;
    background-color: #E1EAF3;
}