{% if is_review %}
<div id="header-review">
    {% trans 'This issue has not been published yet' %}
    <input type="button" value="{% trans 'Publish' %}" onclick="setPublished('{{ issue_date }}', true);" />
</div>

<iframe id="header-review-target" src="http://www.something.com/" style="display:none;"></iframe>
{% endif %}

<div id="header">
    <div id="header-bar">
        <a id="logo" href="{{ BASE_URL }}/">
            &nbsp;
        </a>
    </div>

    <div id="language-selector">
    {% autoescape false %}
        {{ htmlselector }}
    {% endautoescape %}
    </div>
</div>