{% if is_review %}
<div id="header-review">
    {% trans 'This issue has not been published yet' %}
    <input type="button" value="{% trans 'Publish' %}" onclick="setPublished('{{ issue_date }}', true);" />
</div>

<iframe id="header-review-target" src="http://www.something.com/" style="display:none;"></iframe>

<script type="text/javascript">
    function setPublished(date, state) {
        if ((typeof date == "undefined") || (typeof state == "undefined")) {
            return false;
        }

        // send request through iframe
        $("header-review-target").src = "{{ ENZYME_URL }}/get/publish.php?date=" + date + "&state=" + state;

        // remove header
        if ($("header-review")) {
            Element.remove($("header-review"));
            $("body").removeClassName("review");
            $("sidebar").style.top = (parseInt($("sidebar").style.top) - 34) + "px";
        }
    }
</script>
{% endif %}

<div id="header">
    <div id="header-bar">
        <a id="logo" href="{{ BASE_URL }}/">
            &nbsp;
        </a>
    </div>

    <div id="language-selector">
    {% autoescape false %}
        {{ htmlselector }}
    {% endautoescape %}
    </div>
</div>