<h2>{% trans 'This Week...' %}</h2>

<div class="synopsis">
    {% autoescape false %}
    {{ synopsis }}
    {% endautoescape %}
</div>

{% if sections %}
    {% for section in sections %}
    <div class="body-row">
        <div class="body-title">
            <a id="intro-{{ loop.index }}" name="intro-{{ loop.index }}"></a>
            {% autoescape false %}
            {{ section.intro }}
            {% endautoescape %}
        </div>

        {% if section.type == 'message' %}
        <div class="body-text well well-small panel">
            {% autoescape false %}
            {{ section.body }}
            {% endautoescape %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}