Options +FollowSymlinks

ErrorDocument 404 /404.php

RewriteEngine on

RewriteCond %{REQUEST_URI} updates/ [OR]
RewriteCond %{REQUEST_URI} updates.rdf
RewriteRule (.*) /get/updates.php [QSA,L]

RewriteCond %{REQUEST_URI} issues/(.*)/moreinfo/ [OR]
RewriteCond %{REQUEST_URI} archive/(.*)/moreinfo/
RewriteRule (.*)/(.*)/moreinfo/(.*)/ /index.php?page=moreinfo&date=$2&revision=$3 [QSA,L]

RewriteCond %{REQUEST_URI} issues/(.*)/statistics/ [OR]
RewriteCond %{REQUEST_URI} archive/(.*)/statistics/
RewriteRule (.*)/(.*)/statistics/ /index.php?page=statistics&type=$1&date=$2 [QSA,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^issues/(.*)/ /index.php?page=issues&issue=$1 [QSA,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^archive/(.*)/ /index.php?page=archive&issue=$1 [QSA,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^developer/(.*) /index.php?page=developer&account=$1 [QSA,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^data/terms/(.*) /index.php?page=terms&version=$1 [QSA,L]


RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^data/survey/(.*) /index.php?page=survey&code=$1 [QSA,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^data/(.*) /index.php?page=data&code=$1 [QSA,L]

RewriteCond %{REQUEST_URI} issues/ [OR]
RewriteCond %{REQUEST_URI} archive/ [OR]
RewriteCond %{REQUEST_URI} six-months-ago/ [OR]
RewriteCond %{REQUEST_URI} one-year-ago/ [OR]
RewriteCond %{REQUEST_URI} contribute/
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule (.*)/ /index.php?page=$1 [QSA,L]