{% from 'blocks/list.html' import archive as item %}

<h1>{{ title }}</h1>
<a id="sort" href="?sort={{ sort_alt }}">{{ sort_string }}</a>

<p id="attribution">
{% trans %}
    For {{ archive_issues }} issues, {{ archive_author }} produced the KDE-CVS Digest. Here are the archives of his digests:
{% endtrans %}
</p>

<div class="row">
    <div class="span10">
        <ul>
        {% for digest in issues %}
            {{ item(digest, digest.id, digest.date | date('jS F Y')) }}
        {% endfor %}
        </ul>
    </div>
</div>