{% from 'blocks/list.html' import index as item %}

<div class="hero-unit">
    <h1>{% trans 'Welcome' %}</h1>
    <p class="lead">
    {% trans %}
        ...to the {{ PROJECT_NAME }}, a weekly overview of the development activity in KDE.
    {% endtrans %}
    </p>

    <div id="latest-box" class="filled">
       <button class="btn btn-large btn-primary" href="{{ BASE_URL }}/issues/latest/">
           {% trans 'Read the latest issue!' %}
       </button>
    </div>
</div>
<div class="row">
    <div class="span5">
        <h2>{% trans 'Issues' %}</h2>
        <ul>
        {% for digest in issues %}
            {{ item(digest) }}
        {% endfor %}
        </ul>
    </div>

    <div class="span5">
        <h2>{% trans 'Six Months Ago' %}</h2>
        <ul>
            {{ item(six_months_ago) }}
        </ul>

        <h2>{% trans 'One Year Ago' %}</h2>
        <ul>
            {{ item(one_year_ago) }}
        </ul>

        <h2>{% trans 'Random Digest' %}</h2>
        <ul>
            {{ item(random) }}
        </ul>
    </div>
</div>